<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>IT Crowd Ipsum</title>
		
		<link href="https://s3.amazonaws.com/itcrowdipsum/css/styles.css" rel="stylesheet" media="all">
		<link href="https://s3.amazonaws.com/itcrowdipsum/css/icons.css" rel="stylesheet" media="all">
		
		<script src="http://code.jquery.com/jquery.min.js"></script>
	</head>
	<body>
		<div id="wrap">
			<header>
				<h1>IT Crowd Ipsum</h1>
				<h2>Placeholder text taken from <em>The IT Crowd</em></h2>
			</header>
			
			<section>
				<% lipsum.each do |paragraph| %>
				<p>
					<%=paragraph %>
				</p>
				<% end %>
				
				<menu>
					<button type="button" id="copy">Copy?</button>
<textarea id="text">
<% lipsum.each do |paragraph| %>
<%=paragraph %>


<% end %>
</textarea>
					
					<span id="popup">Now press CMD + C / CTRL + C</span>
				</menu>
			</section>
			
			<footer>
				<p>
					Inspired by <a href="http://bluthipsum.com">Bluth Ipsum</a>. Made by <a href="http://kivlor.com">Kivlor</a>
				</p>
			</footer>
		</div>
		
		<script type="text/javascript">
			jQuery(function($){
				// copy?
				$('#copy').on('click', function(){
					// select the text
					$('#text').select();
					
					// show the popup
					$('#popup').fadeIn(200).delay(2000).fadeOut(200);
				});
			});
		</script>
	</body>
</html>